* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

h2 {
    font-weight: bold;
    font-size: 20px;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    padding-inline-start: 20px;
    min-height: 60vh;
    min-width: 50vh;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 4px 4px 15px;
}

form {
    display: flex;
    flex-direction: column;
    color:#333;


}

